@font-face {
  font-family: "IRANYekan";
  src: url(style/IRANYekan.ttf);
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "IRANYekan";
  background-color: #000;
  padding: 0;
  direction: rtl;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh
}
* {
  box-sizing: border-box;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  border-radius: 10px;
}
header .logo {
  width: 50px;
  height: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.left-side {
  display: flex;
  align-items: center;
  gap: 20px;
}
nav a:hover {
  background-color: black;
  color: white;
  border-radius: 5px;
}
nav a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-links {
  display: flex;
  gap: 15px;
  list-style: none;
}

.searchBox {
  display: flex;
  gap: 5px;
  font-family: "IRANYekan";
}
.searchButton {
  font-family: "IRANYekan";
  background-color: #000;
  color: white;
  border-radius: 5px;
}
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  z-index: 1100;
}

.hamburger span {
  background: black;
  height: 3px;
  width: 25px;
  border-radius: 2px;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  background: #050505;
  padding: 20px;
  position: fixed;
  top: 0;
  right: 0;
  width: 90%;
  height: 85vh;
  z-index: 1000;
  overflow-y: auto;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}
.mobile-menu.open {
  display: flex;
  transform: translateX(0);
}

.mobile-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mobile-menu a {
  color: black;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}
.cart-icons {
  width: 30px;
  height: 30px;
}
.hamburger.menu-open span {
  background: white;
}
.registrationform {
  margin-left: auto;
  margin-right: 10px;
}
footer .social-media {
  text-decoration: underline;
  color: white;
  text-align: center;
}
.footer {
  background-color: #000;
  color: white;
  position: relative;
  margin-top: auto
}
.main {
  width: 100%;
  /* height: 100vh; */
  position: relative;
  overflow: hidden;
  flex-grow: 1
}
.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  margin-top: 10px;
}

.slide img {
  width: 100%;

  object-fit: cover;
}

@media (max-width: 768px) {
  .navbar {
    display: none;
    width: 90%;
    margin: 0 auto;
  }
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    gap: 10px;
  }
  .logo {
    width: 50px;
    height: auto;
    order: 2;
    margin-left: 10px;
  }
  .hamburger {
    display: flex;
    margin: 0;
    z-index: 1100;
    position: relative;
    color: white;
    order: 1;
    margin-left: 10px;
  }
  .mobile-menu {
    width: calc(100% - 20px);
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    flex-direction: column;
    background: #393838;
    padding: 20px;
    position: fixed;
    border-radius: 10px;
    top: 70px;
    right: 0px;
    z-index: 1000;
    overflow-y: auto;
    transition: transform 0.3s ease-in-out;
  }
  .mobile-menu.open {
    display: flex;
    transform: translateX(0);
  }
  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
    margin-top: 20px;
    margin-right: 10px;
  }
  .mobile-menu a {
    color: black;
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
  }
  .searchBox {
    margin-top: 5px;
    width: 70%;
    margin-right: 5px;
  }
  .searchButton {
    background-color: white;
    color: black;
    margin-top: 8px;
  }
  .hamburger.menu-open span {
    background: black;
  }
  .registrationform {
    margin-top: 5px;
  }
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    color: white;
    text-align: center;
    padding: 10px;
    z-index: 500;
  }
  body {
    margin-bottom: 70px;
  }
}
